---
skill_rating_css:
  - translate-x-1/5
  - translate-x-2/5
  - translate-x-3/5
  - translate-x-4/5
  - translate-x-full
left:
  bg: bg-blue-800
  text: text-neutral-50
right:
  bg: bg-white
  text: text-blue-900
---
<div class="grid grid-cols-1 md:grid-cols-11 md:min-h-screen print:grid-cols-11">
  <div class="{{page.left.bg}} {{page.left.text}} print:bg-white print:text-black md:col-span-5 print:col-span-5 flex justify-center md:justify-end px-8 py-8 lg:py-16 print:p-4">
    <div class="flex flex-col gap-y-6 lg:gap-y-10 max-w-sm">
      <figure class="mx-8 lg:mx-20 print:hidden">
        <img src="/assets/images/photo.jpg" alt="{{ site.profile_name }}" class="block mx-auto rounded-full">
      </figure>
      <section class="text-center print:text-left">
        <h1 class="text-3xl font-bold tracking-wide">{{ site.profile_name }}</h1>
        <h2 class="text-2xl font-medium tracking-wide">{{ site.profile_title }}</h2>
        <div class="flex justify-center print:flex-col print:justify-start mt-4 mb-6 print:mb-18">
          <a id="linkedin" href="{{ site.linkedin_url }}" target="_blank" class="print:hidden">
            <svg class="h-8 w-8" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.338 16.338H13.67V12.16c0-.995-.017-2.277-1.387-2.277-1.39 0-1.601 1.086-1.601 2.207v4.248H8.014v-8.59h2.559v1.174h.037c.356-.675 1.227-1.387 2.526-1.387 2.703 0 3.203 1.778 3.203 4.092v4.711zM5.005 6.575a1.548 1.548 0 11-.003-3.096 1.548 1.548 0 01.003 3.096zm-1.337 9.763H6.34v-8.59H3.667v8.59zM17.668 1H2.328C1.595 1 1 1.581 1 2.298v15.403C1 18.418 1.595 19 2.328 19h15.34c.734 0 1.332-.582 1.332-1.299V2.298C19 1.581 18.402 1 17.668 1z" clip-rule="evenodd" />
            </svg>
          </a>
          <ul class="grid gap-y-4 text-sm list-disc hidden print:block">
            <li>{{ site.linkedin_url }}</li>
            <li>{{ site.url }}</li>
          </ul>
        </div>

        <div class="grid gap-y-4">
          {{ site.about | markdownify }}
        </div>
      </section>

      <section class="mx-auto max-w-xs w-full">
        <h1 class="text-center mb-6 text-2xl font-bold tracking-wide">Skills</h1>
        {% for skill in site.skills %}
          {% include skill.html title=skill.title rating=skill.rating %}
        {% endfor %}
      </section>
    </div>
  </div>
  <div class="{{page.right.bg}} {{page.right.text}} print:bg-white print:text-black md:col-span-6 print:col-span-6 px-8 py-8 lg:py-16 print:p-4">
    {% include print.html %}

    <div class="grid gap-y-6 lg:gap-y-10 max-w-lg">
      <h2 class="lg:text-center text-2xl font-bold tracking-wide">Work Experience</h2>
      <div>
        {% assign work_experiences = site.work_experiences | sort: 'index' %}
        {% for work in work_experiences %}
          <section class="relative{% unless forloop.last %} pb-6 lg:pb-8{% endunless %}">
            {% unless forloop.last %}
              <span class="absolute top-4 left-4 -ml-px h-full w-0.5 bg-gray-200 print:hidden" aria-hidden="true"></span>
            {% endunless %}
            <div class="relative flex">
              <div class="flex-none w-8 h-8 bg-white flex justify-center items-center print:hidden">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 7.5l3 2.25-3 2.25m4.5 0h3m-9 8.25h13.5A2.25 2.25 0 0021 18V6a2.25 2.25 0 00-2.25-2.25H5.25A2.25 2.25 0 003 6v12a2.25 2.25 0 002.25 2.25z" />
                </svg>
              </div>
              <div class="flex-auto ml-4">
                <header class="mb-4">
                  <h2 class="text-xl font-bold">{{ work.position }}</h2>
                  <div class="flex flex-col lg:flex-row lg:justify-between lg:gap-x-4">
                    <h3 class="font-medium">
                      {{ work.company }}
                      {%- unless work.location == nil -%}
                        , {{ work.location }}
                      {% endunless %}
                    </h3>
                    <span class="flex-none">{{ work.duration }}</span>
                  </div>
                </header>

                {{ work.content | markdownify }}
              </div>
            </div>
          </section>
        {% endfor %}
      </div>

      <h2 class="lg:text-center text-2xl font-bold tracking-wide">Education and Professional Development</h2>
      <div class="grid gap-y-4">
        {% for edu_item in site.education %}
          <section class="relative">
            {% unless forloop.last %}
              <span class="absolute top-4 left-4 -ml-px h-full w-0.5 bg-gray-200 print:hidden" aria-hidden="true"></span>
            {% endunless %}
            <div class="relative flex">
              <div class="flex-none w-8 h-8 bg-white flex justify-center items-center print:hidden">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                  <path fill-rule="evenodd" d="M9.664 1.319a.75.75 0 01.672 0 41.059 41.059 0 018.198 5.424.75.75 0 01-.254 1.285 31.372 31.372 0 00-7.86 3.83.75.75 0 01-.84 0 31.508 31.508 0 00-2.08-1.287V9.394c0-.244.116-.463.302-.592a35.504 35.504 0 013.305-2.033.75.75 0 00-.714-1.319 37 37 0 00-3.446 2.12A2.216 2.216 0 006 9.393v.38a31.293 31.293 0 00-4.28-1.746.75.75 0 01-.254-1.285 41.059 41.059 0 018.198-5.424zM6 11.459a29.848 29.848 0 00-2.455-1.158 41.029 41.029 0 00-.39 3.114.75.75 0 00.419.74c.528.256 1.046.53 1.554.82-.21.324-.455.63-.739.914a.75.75 0 101.06 1.06c.37-.369.69-.77.96-1.193a26.61 26.61 0 013.095 2.348.75.75 0 00.992 0 26.547 26.547 0 015.93-3.95.75.75 0 00.42-.739 41.053 41.053 0 00-.39-3.114 29.925 29.925 0 00-5.199 2.801 2.25 2.25 0 01-2.514 0c-.41-.275-.826-.541-1.25-.797a6.985 6.985 0 01-1.084 3.45 26.503 26.503 0 00-1.281-.78A5.487 5.487 0 006 12v-.54z" clip-rule="evenodd" />
                </svg>
              </div>
              <div class="flex-auto ml-4">
                <dl>
                  <dt class="font-medium">{{ edu_item.title }}</dt>
                  <dd>{{ edu_item.details }}</dd>
                </dl>
              </div>
            </div>
          </section>

        {% endfor %}
      </div>
    </div>
  </div>
</div>
